
#content{
    width: 1352px;
    margin: 0 auto 0 auto;
}

body{
    margin: 0;
}

header{
    background-color: rgb(199, 152, 121);
    height: 40px;
    padding: 0 40px 0 40px;
}

.menu{
    list-style-type: none;
    text-align: right;
    margin: 0;
}
.menu-item{
    display: inline-block;
    padding: 10px 20px 0 20px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.menu-item a:hover{
    color: antiquewhite;

}

main{
    background-color: rgb(255, 255, 255);
    padding: 50px 100px 50px 100px;
    display: block;
}
h1{
    color: rgb(199, 152, 121);
    font-size: 3em;
    text-align: center;
}

    
