#content{
    width: 1352px;
    margin: 0 auto 0 auto;
}

body{
    margin: 0;
}

header{
    background-color: rgb(199, 152, 121);
    height: 40px;
    padding: 0 40px 0 40px;
}

.menu{
    list-style-type: none;
    text-align: right;
    margin: 0;
}
.menu-item{
    display: inline-block;
    padding: 10px 20px 0 20px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.menu-item a:hover{
    color: antiquewhite;

}

.comma{
    color: rgb(150, 99, 41);
    text-align: center;
    margin: 80px;
    border: 2px solid #af7954;
    border-radius: 10px;
    padding: 60px 80px 60px 80px;
    
}
.me{
    text-align: center;
    padding: 50px;
    
}
h1{
    font-size: 1.5em;
    color: #af7954;
}
p{
    color: #af7954;
    
}
li{
    list-style-type: none;
    color: #af7954;
    text-align: left;
}
.box{
    float: left;
}
.box2{
    float: right;


}